/Separation_speakers/MovieSoundClips.net dataset/
/Separation_speakers/VoxConverse/
/Reconnaissance Femme_Homme/LibriSpeech
/Reconnaissance Femme_Homme/MovieSoundClips.net dataset/
/donnees_test/

.ipynb_checkpoints
*.ipynb_checkpoints
